# Created by .ignore support plugin (hsz.mobi)
sslyze.output
prodDb.*

### IntelliJ IDEA ###
.idea/
build/
target/
!**/src/main/**/out/
!**/src/test/**/out/
ynami.iml
ynami.ipr
ynami.iws
.fastRequest/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### Other Project Files ###
ynami.log
h2_db/