.HolyGrail-header .navbar-brand {
    position: relative;
    z-index: 2;
}

.HolyGrail-header .navbar-brand img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.HolyGrail-header .navbar-brand span {
    vertical-align: middle;
}

.HolyGrail-header .navbar-nav.navbar-right {
    margin-right: 0;
}

.HolyGrail-header .navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
}

.HolyGrail-header .navbar .navbar-collapse {
    position: relative;
}

.HolyGrail-header .navbar .navbar-collapse .navbar-right > li:last-child {
    padding-left: 22px;
}

.HolyGrail-header .navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.HolyGrail-header .navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.HolyGrail-header .navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.HolyGrail-header .navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.HolyGrail-header .nav-collapse > li {
    float: right;
}

.HolyGrail-header .btn.btn-circle {
    border-radius: 50px;
}

.HolyGrail-header .btn.btn-outline {
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .HolyGrail-header .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .HolyGrail-header .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }

    .HolyGrail-header .navbar .nav-collapse .navbar-form {
        margin: 0;
    }

    .HolyGrail-header .nav-collapse > li {
        float: none;
    }
}