<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="header">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">

                        <!-- Toggler to toggle the navigation bar on the left side  -->
                        <button type="button"
                                aria-expanded="false"
                                data-bs-toggle="collapse"
                                class="navbar-toggler d-block"
                                aria-label="Toggle navigation"
                                aria-controls="collapsible-side-navbar"
                                data-bs-target="#collapsible-side-navbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <a class="navbar-brand" href="#">
                            <img th:src="@{/img/logo.jpg}"
                                 alt="LucidXPO logo"
                                 class="d-inline-block">
                            <span>LucidXPO</span>
                        </a>

                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbar-collapse-4"
                                aria-controls="navbar-collapse-4"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse-4">
                            <ul class="navbar-nav ms-md-auto gap-2">
                                <li class="nav-item rounded">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <i class="bi fa-solid fa-house me-2"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item rounded">
                                    <a class="nav-link" href="#">
                                        <i class="bi fa-solid fa-house me-2"></i>
                                        Services
                                    </a>
                                </li>
                                <li class="nav-item rounded">
                                    <a class="nav-link" href="#">
                                        <i class="bi fa-solid fa-house me-2"></i>
                                        Products
                                    </a>
                                </li>
                                <li class="nav-item rounded">
                                    <a class="nav-link" href="#">
                                        <i class="bi fa-solid fa-house me-2"></i>
                                        Clients
                                    </a>
                                </li>
                                <li class="nav-item rounded">
                                    <a class="nav-link" href="#">
                                        <i class="bi fa-solid fa-house me-2"></i>
                                        About
                                    </a>
                                </li>
                                <li class="nav-item rounded">
                                    <a class="nav-link" href="#">
                                        <i class="bi fa-solid fa-phone me-2"></i>
                                        Contact
                                    </a>
                                </li>

                        <li class="nav-item dropdown rounded">
                            <a href="#"
                               role="button"
                               aria-expanded="false"
                               id="userAccountDropdown"
                               data-bs-toggle="dropdown"
                               class="nav-link dropdown-toggle">
                                <i class="bi fa-solid fa-house me-2"></i>
                                Profile
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
                                aria-labelledby="userAccountDropdown">
                                <li><a class="dropdown-item" href="#">My profile</a></li>
                                <li><a class="dropdown-item" href="#">Favourites</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form id="logout-form"
                                          autocomplete="off"
                                          th:action="@{/perform_logout}"
                                          th:method="post" style="display: none">
                                    </form>
                                    <a href="#"
                                       class="dropdown-item"
                                       onclick="$('#logout-form').submit(); return false;">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--                                <li class="nav-item rounded">-->
                        <!--                                    <a class="nav-link btn btn-default btn-outline btn-circle"-->
                        <!--                                       href="#nav-collapse4"-->
                        <!--                                       data-bs-toggle="collapse"-->
                        <!--                                       aria-expanded="false"-->
                        <!--                                       aria-controls="nav-collapse4">-->
                        <!--                                        <i class="bi fa-solid fa-house me-2"></i>-->
                        <!--                                        Profile-->
                        <!--                                    </a>-->
                        <!--                                </li>-->
                    </ul>
                    <!--                            <div class="collapse navbar-collapse" id="navbar-collapse-4">-->
                    <!--                            <ul class="collapse navbar-collapse navbar-nav ms-md-auto gap-2" role="search" id="nav-collapse4">>-->
                    <!--&lt;!&ndash;                            <ul class="collapse navbar-collapse nav navbar-nav nav-collapse" role="search" id="nav-collapse4">&ndash;&gt;-->
                    <!--&lt;!&ndash;                            <ul class="collapse navbar-collapse nav navbar-nav nav-collapse" role="search" id="nav-collapse4">&ndash;&gt;-->
                    <!--                                <li class="nav-item rounded">-->
                    <!--                                    <a class="nav-link" href="#">Support</a>-->
                    <!--                                </li>-->
                    <!--                                <li class="dropdown">-->
                    <!--                                    <a href="#"-->
                    <!--                                       id="crazyDropDown"-->
                    <!--                                       class="nav-link dropdown-toggle"-->
                    <!--                                       data-bs-toggle="dropdown"-->
                    <!--                                       role="button"-->
                    <!--                                       aria-expanded="false">-->
                    <!--                                        &lt;!&ndash;Profile image below...&ndash;&gt;-->
                    <!--                                        &lt;!&ndash;<img class="img-circle" src="https://image_url.jpg" th:alt="Welcome User" width="20" />&ndash;&gt;-->
                    <!--                                        <span>Welcome Crazy</span>-->
                    <!--                                        <span class="caret"></span>-->
                    <!--                                    </a>-->
                    <!--                                    <ul class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="crazyDropDown">-->
                    <!--                                        <li><a class="dropdown-item" href="#">My profile</a></li>-->
                    <!--                                        <li><a class="dropdown-item" href="#">Favourites</a></li>-->
                    <!--                                        <li><a class="dropdown-item" href="#">Settings</a></li>-->
                    <!--                                        <li>-->
                    <!--                                            <hr class="dropdown-divider">-->
                    <!--                                        </li>-->
                    <!--                                        <li>-->
                    <!--                                            <form id="logout-form1" autocomplete="off" th:action="@{/perform_logout}"-->
                    <!--                                                  th:method="post" style="display: none"></form>-->
                    <!--                                            <a href=""-->
                    <!--                                               onclick="$('#logout-form').submit(); return false;">Logout</a>-->
                    <!--                                        </li>-->
                    <!--                                    </ul>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                </div>
            </div>
        </nav>
    </div>
</th:block>
</body>
</html>