<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="header">
            <div class="container-fluid">
                <nav class="navbar navbar-inverse">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="#">
                            <img th:src="@{/img/logo.jpg}" alt="LucidXPO logo"/>
                            <span>LucidXPO</span>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-4">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Products</a></li>
                            <!--<li><a href="#">Regions</a></li>-->
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">About</a></li>
                            <li>
                                <a class="btn btn-default btn-outline btn-circle"
                                   data-toggle="collapse"
                                   href="#nav-collapse4"
                                   aria-expanded="false"
                                   aria-controls="nav-collapse4">
                                    Profile
                                    <i class=""></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="collapse nav navbar-nav nav-collapse" role="search" id="nav-collapse4">
                            <li><a href="#">Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <!--Profile image below...-->
                                    <!--<img class="img-circle" src="https://image_url.jpg" th:alt="Welcome User" width="20" />-->
                                    <span>Welcome Crazy</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">My profile</a></li>
                                    <li><a href="#">Favorited</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li class="divider"></li>
                                    <li>
                                        <form id="logout-form" autocomplete="off" th:action="@{/perform_logout}" th:method="post" style="display: none"></form>
                                        <a href="" onclick="$('#logout-form').submit(); return false;">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </th:block>
    </body>
</html>