.login-container {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
    z-index: 1;
    max-width: 450px;
    border-radius: 20px;
    background: #2f3242;
}

.login-content-right {
    flex: 1;
    background-color:#0278ae;
}

.login-content-left .logo {
    width: 128px;
    height: 128px;
}

.login-content-left .text-logo {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.login-content-left form .input-group {
    width: 90%;
    height: 3rem;
    position: relative;
    border-radius: 10px;
    margin: auto auto 15px;
    background-color: #ccffee;
}

.login-content-left form .btn {
    width: 90%;
    border: none;
    height: 3rem;
    font-size: 22px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #0278ae;
}

.login-content-left form .btn:hover {
    background-color: rgb(158, 163, 240);
}

.login-content-left .go-back-link {
    color: rgb(158, 163, 240);
}

.login-content-left .not-a-member a {
    text-decoration: none;
    color: rgb(158, 163, 240);
}

.login-content-left .link label, .link a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(158, 163, 240);
}

.login-content-left .remember-me {
    width: 90%;
    display: flex;
    margin: auto auto 15px;
}

.login-content-right i {
    font-size: 100px;
}

@media all and (max-width: 600px) {
    .login-content-left {
        width: 100vh;
    }
}

@media screen and (min-width: 601px) {
    .login-content-left {
        width: 50vh;
    }
}